In [3]:
#https://www.tresfacile.net/exercices-sur-la-bibliotheques-pandas-python/

In [5]:
import pandas as pd

In [9]:
df = pd.DataFrame(
    {
        'ID': list('12345'),
        'Name': ['Albert', 'Nathalie', 'Robert', 'Jesika', 'Adam'],
        'Email': ['albert@gmail.com', 'nathalie@gmail.com', 'robert@gmail.com', 'jesika@gmail.com', 'adam@gmail.com'],
        'Selection': ['SVT', 'SC Eco', 'Math', 'Philo', 'Physique']
    }
)

In [11]:
df

  ID      Name               Email Selection
0  1    Albert    albert@gmail.com       SVT
1  2  Nathalie  nathalie@gmail.com    SC Eco
2  3    Robert    robert@gmail.com      Math
3  4    Jesika    jesika@gmail.com     Philo
4  5      Adam      adam@gmail.com  Physique