In [1]:
import pandas as pd

In [3]:
data = {
    "product":{
        "0":"computer",
        "1":"tablet",
        "2":"printer",
        "3":"keyboard"
    },
    "price":{
        "0":800,
        "1":350,
        "2":200,
        "3":120
    }
}

data

{'product': {'0': 'computer', '1': 'tablet', '2': 'printer', '3': 'keyboard'},
 'price': {'0': 800, '1': 350, '2': 200, '3': 120}}

In [5]:
pd.DataFrame(data)

    product  price
0  computer    800
1    tablet    350
2   printer    200
3  keyboard    120

In [7]:
data2 = {
    "product":[
        "computer",
        "tablet",
        "printer",
        "keyboard"
    ],
    "price":[
        800,
        350,
        200,
        120
    ]
}

data2

{'product': ['computer', 'tablet', 'printer', 'keyboard'],
 'price': [800, 350, 200, 120]}

In [11]:
df = pd.DataFrame(data2)

In [13]:
df.to_dict()

{'product': {0: 'computer', 1: 'tablet', 2: 'printer', 3: 'keyboard'},
 'price': {0: 800, 1: 350, 2: 200, 3: 120}}

In [17]:
df.values

array([['computer', 800],
       ['tablet', 350],
       ['printer', 200],
       ['keyboard', 120]], dtype=object)