In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
ti = sns.load_dataset('titanic').loc[:, ['survived', 'sex', 'class']]

In [6]:
ti

     survived     sex   class
0           0    male   Third
1           1  female   First
2           1  female   Third
3           1  female   First
4           0    male   Third
..        ...     ...     ...
886         0    male  Second
887         1  female   First
888         0  female   Third
889         1    male   First
890         0    male   Third

[891 rows x 3 columns]

In [8]:
tc = sns.load_dataset('titanic')[['survived', 'sex', 'class']]

In [10]:
tc

     survived     sex   class
0           0    male   Third
1           1  female   First
2           1  female   Third
3           1  female   First
4           0    male   Third
..        ...     ...     ...
886         0    male  Second
887         1  female   First
888         0  female   Third
889         1    male   First
890         0    male   Third

[891 rows x 3 columns]